<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Libreria Escocia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>

      <ion-label>Bienvenido a Libreria Escocia</ion-label>
      <ion-img src="https://th.bing.com/th/id/OIP.wfR47wZSs5MzA4zqxMoT_QHaE8?w=239&h=180&c=7&r=0&o=5&pid=1.7"></ion-img> 
    </ion-item>
  </ion-list>


</ion-content>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
